*{
    font-family: 'Syne Mono', monospace;
    color: var(--lime);
}

:root {
--lime: limegreen;
--darkgray: #272727;
--gray: #424242;
--black: #000;
}

body{
    background-color: var(--darkgray);
}

/* -----HEADER------ */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/retro-computer-console-mini.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.weather-title {
    margin: 20px;
}

/* --------USER INPUT-------- */
.aside {
    margin-right: 30px;
    display: flex;
    /* flex-direction: column; */
}

.city-finder {
    /* width: auto; */
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.city-finder h2 {
    font-size: 25px;
    padding: 5px;
}

.city-input {
    margin: 10px;
    resize: none;
    background-color: #b4b4b4;
    color: rgb(36, 163, 36);
}

.search-btn {
    
}

/* -------LOCAL STORAGE------ */
.search-history {
    
    
}

/* -------WEATHER DISPLAY-------- */
.main-display {
    border: 2px solid black;
}

.forecast-card {
    border-top: 3px solid var(--lime) ;
    border-bottom: 3px solid var(--lime);
    border-right: 2px ridge var(--darkgray);
    border-left: 2px ridge var(--darkgray);
}

.card-body {
    background-color: var(--black);
}