*{
    font-family: 'Syne Mono', monospace;
    color: var(--lime);
    
}

:root {
--lime: limegreen;
--darkgray: #1b1b1b;
--gray: #303030;
--black: #000;
}

body{
    background-color: var(--darkgray);
}

/* -----HEADER------ */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 20px;
    background-color: #000;
}

.weather-title {
    margin: 20px;
}

/* --------USER INPUT-------- */
.aside {
    margin-right: 30px;
    display: flex;
}

.city-finder {
    border-radius: 10px;
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.city-finder h2 {
    font-size: 25px;
    padding: 5px;
}

#city-input {
    resize: none;
    color: rgb(36, 163, 36);
    background-color: var(--black);
    border-top: 1px solid var(--lime) ;
    border-bottom: 1px solid var(--lime);
    border-right: 2px ridge var(--gray);
    border-left: 2px ridge var(--gray);
}

#search-btn {
    width: fit-content;
    background-color: var(--gray);
    border: none;
}

/* -------LOCAL STORAGE------ */
.search-history {
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
    min-height: 200px;
    display: flex;
}

#clear-btn {
    background-color: #000;
    /* display: flex; */
    /* justify-content: flex-end;
    align-items: flex-end;
    vertical-align: bottom; */
    position: absolute;
    bottom: 20px;
}

/* -------WEATHER DISPLAY-------- */
.main-display {
    border: 3px solid var(--gray);
}

#city-date {
    font-size: 40px;
}

.cweather {
    margin-left: 100px;
    font-size: 20px;
    border-radius: 10px;
}

#c-uvi {
    width: fit-content;
    padding: 10px;
}

.favorable {
    border: 2px solid var(--lime);
}

.moderate {
    border: 2px solid yellow;
}

.severe{
    border: 2px solid red;
}

.forecast-container {
    background-color: var(--gray);
    border-radius: 10px;
    padding: 15px;
}

.forecast-card {
    min-width: fit-content;
    border-top: 2px solid var(--lime) ;
    border-bottom: 2px solid var(--lime);
    border-right: 2px ridge var(--black);
    border-left: 2px ridge var(--black);
}

.card-body {
    background-color: var(--black);
}